# Copiez ce fichier vers .env puis adaptez les valeurs.
# Ne publiez jamais le fichier .env réel.

SECRET_KEY=replace-with-a-long-random-value
ADMIN_USERNAME=replace-with-admin-username
ADMIN_PASSWORD=
ADMIN_PASSWORD_HASH=replace-with-a-password-hash

WEB_PRIVATE_IP=192.168.50.10
MONITORING_PRIVATE_IP=192.168.50.20

PROMETHEUS_URL=http://192.168.50.20:9090
GRAFANA_URL=http://192.168.50.20:3000
ALERTMANAGER_URL=http://192.168.50.20:9093

NODE_EXPORTER_JOB=srv-web
CADVISOR_JOB=cadvisor
NODE_EXPORTER_INSTANCE=192.168.50.10:9100
CADVISOR_INSTANCE=192.168.50.10:8080

MONITORING_NODE_JOB=srv-monitoring
MONITORING_NODE_INSTANCE=192.168.50.20:9100

WINDOWS_EXPORTER_JOB=pc-windows
WINDOWS_EXPORTER_INSTANCE=192.168.154.1:9182
WINDOWS_EQUIPMENT=pc-emmanuel
