<div class="v3-tabs">
    <a class="v3-tab {{ 'active' if active_docker_page == 'containers' else '' }}" href="/containers">
        Conteneurs
    </a>

    <a class="v3-tab {{ 'active' if active_docker_page == 'images' else '' }}" href="/images">
        Images
    </a>

    <a class="v3-tab {{ 'active' if active_docker_page == 'volumes' else '' }}" href="/volumes">
        Volumes
    </a>

    <a class="v3-tab {{ 'active' if active_docker_page == 'networks' else '' }}" href="/networks">
        Réseaux
    </a>
</div>
