[Unit]
Description=Actualisation des métriques des volumes toutes les cinq minutes

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
Persistent=true
Unit=monitoring-volume-metrics.service

[Install]
WantedBy=timers.target
